/* GOALS COMPONENTS */
.btn-container {
    padding: 5%;
}

.form-card {
    padding: 5%;
}

.skip-btn {
    float: left;
}

.continue-btn {
    float: right;
}
.upper-container {
    padding:5%;
}
.goal-container {
    text-align: left;
}

/* Financial */

.finance-container {
    text-align: left;
}